#include <windows.h>
#include <commctrl.h>
2600 DIALOGEX 0, 0, 560, 358
STYLE DS_SETFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Subtitles"
FONT 9, "Segoe UI"
BEGIN
    LTEXT "Edit a cue to see your changes in the preview. Save applies them to the game.", -1, 12, 10, 536, 12
    LTEXT "Set Captions to On in game settings.", -1, 12, 24, 536, 12
    LISTBOX 2601, 12, 42, 264, 176, LBS_NOTIFY | WS_VSCROLL | WS_BORDER | WS_TABSTOP
    CONTROL "", 2612, "Static", SS_OWNERDRAW, 282, 42, 266, 150
    CONTROL "", 2614, TRACKBAR_CLASS, TBS_HORZ | WS_TABSTOP, 280, 196, 270, 15
    PUSHBUTTON "Play", 2613, 282, 214, 48, 16
    PUSHBUTTON "Begin", 2618, 336, 214, 44, 16
    PUSHBUTTON "End", 2619, 386, 214, 44, 16
    LTEXT "", 2617, 282, 234, 266, 12
    PUSHBUTTON "Add cue", 2607, 12, 226, 64, 16
    PUSHBUTTON "Remove", 2608, 82, 226, 64, 16
    LTEXT "Start", -1, 12, 253, 28, 12
    EDITTEXT 2604, 42, 249, 88, 17, WS_BORDER | WS_TABSTOP | ES_AUTOHSCROLL
    PUSHBUTTON "Set start", 2615, 136, 249, 58, 17
    LTEXT "End", -1, 210, 253, 24, 12
    EDITTEXT 2605, 236, 249, 88, 17, WS_BORDER | WS_TABSTOP | ES_AUTOHSCROLL
    PUSHBUTTON "Set end", 2616, 330, 249, 58, 17
    LTEXT "Text", -1, 12, 277, 28, 12
    EDITTEXT 2606, 42, 274, 506, 43, ES_MULTILINE | ES_AUTOVSCROLL | ES_WANTRETURN | WS_VSCROLL | WS_BORDER | WS_TABSTOP
    PUSHBUTTON "Previous", 2609, 12, 330, 58, 16
    PUSHBUTTON "Next", 2610, 76, 330, 58, 16
    LTEXT "", 2611, 144, 330, 258, 23
    PUSHBUTTON "Save", 2603, 414, 330, 62, 16
    PUSHBUTTON "Close", IDCANCEL, 482, 330, 66, 16
END

2630 DIALOGEX 0, 0, 270, 72
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Unsaved subtitles"
FONT 9, "Segoe UI"
BEGIN
    LTEXT "Save changes to this movie before continuing?", -1, 12, 12, 246, 24
    PUSHBUTTON "Save", IDYES, 12, 46, 76, 16
    PUSHBUTTON "Discard", IDNO, 97, 46, 76, 16
    DEFPUSHBUTTON "Cancel", IDCANCEL, 182, 46, 76, 16
END
